fastapi
uvicorn
sqlalchemy
google-genai
mercadopago
python-dotenv
wpp-whatsapp
playwright==1.50.0
pytz
python-multipart
bcrypt==4.0.1
passlib[bcrypt]
psycopg2-binary
jinja2
itsdangerous
gunicorn
segno
twilio
httpx
pytest
pytest-asyncio
alembic
